<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>쇼핑몰 이름</title>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/assets/owlcarousel/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <!-- Header Section -->
    <header th:replace="/inc/header.html"></header>
    <!-- Header Section -->
    
    <!-- Main Section -->
    <section class="slide-section">
        <div class="main-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="image/bg.jpg">
			</div>
            <div class="hs-item set-bg" data-setbg="image/bg2.jpg">
			</div>
            <div class="hs-item set-bg" data-setbg="image/bg3.jpg">
			</div>
        </div>
    </section>

    <!--====== Javascripts & Jquery ======-->
	<script th:src="@{/assets/owlcarousel/owl.carousel.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>